doctype html
html
	head
		meta(charset = "utf-8")
		//script(src = "../../vendor/web-animations-js/web-animations.min.js")
		//style(type = "text/css").
		link(rel = "stylesheet", href = "../../styles/main.css")
	body

		.body
			.body__aside
				//img(src = "../../images/avatar.jpg")
				a.logo(href = "/") Трушин Влад


			.body__content
				div
					.logo Морфинг