doctype html
html
	head
		meta(charset = "utf-8")
		//script(src = "../../vendor/web-animations-js/web-animations.min.js")
		//style(type = "text/css").


	body
		h1 Трушин Влад

		div
			h2 Статьи
			ul
				li
					a(href = "articles/morphing") Морфинг
