.article {
  display: block;
  width: 200px;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  box-sizing: border-box;
  text-decoration: none; }

.article__number {
  position: absolute;
  font-size: 10px;
  line-height: 20px;
  color: #998675; }

.article__title {
  display: block;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .15em;
  text-transform: uppercase;
  text-decoration: underline;
  margin-left: 20px;
  margin-bottom: 10px; }

.article__descr {
  display: block;
  font-size: 14px;
  line-height: 1.3;
  margin-left: 20px;
  color: black; }

body {
  background-color: #add2cd; }

.body {
  display: flex;
  margin: 20px 40px; }
  .body .body__aside {
    flex: 1; }
  .body .body__content {
    flex: 5; }

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap; }
  ul li {
    list-style: none;
    margin: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 0; }

.logo {
  display: block;
  color: #998675;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: .05em;
  margin: 0;
  margin-top: 10px;
  padding: 0; }

a.logo {
  text-decoration: underline; }

.github {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 14px;
  letter-spacing: .1em;
  font-weight: normal;
  color: white;
  margin-top: 40px;
  display: inline-block;
  background: url(../images/github.png) left center no-repeat;
  min-height: 32px;
  line-height: 32px;
  padding-left: 42px; }
